html {
	/*height: 320px;*/
	width: 720px;
	overflow: hidden;
}

body {
	/*height: 320px;*/
	width: 720px;
	overflow: hidden
}

iframe {
	/*height: 320px;*/
	width: 720px;
	border: none;
}